[user]
	name = Ammar Bandukwala
	email = ammar@ammar.io
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://git.coder-internal.com/
[url "git@gh.coder-internal.com:"]
	insteadOf = https://gh.coder-internal.com/
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = true
[credential]
	helper = cache
[http]
	cookiefile = ~/.gitcookies
[alias]
	find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
	cfb = !git commit -m \"$(echo $(git rev-parse --abbrev-ref HEAD) | rev | cut -d/ -f1 | rev |  tr \"-\" \" \" | sed \"s/.*/\\u&/\")\" && git commit --amend
	ca  = commit --amend --verbose
	ap = add -p
	a = add -A
	c  = commit --verbose
	# Add-Commit-Push is aliased to fish for better in-vim integration.
	acp  = "! fish -c acp"
	cax = commit --amend --no-edit 
	cb = checkout -b
	f = "! git commit --fixup $(git log --pretty='%H' -1 --invert-grep --grep 'fixup! ')"
	fs = "!f() { git commit --fixup :/$1 ; }; f"	
	d = diff
	s = status
	last = log -1
	rc = rebase --continue
	emoji = !set -e && echo $(git log -1 --pretty=%B) && git commit --amend -m \"$(git log -1 --pretty=%B) $(emoj $(git log -1 --pretty=%B) | sed 's/  /\\n/g' | fzf --height 9)\"
	issues = "! hub issue -f '%U %t %l %n'"
	openpr = "! git_open_pr.sh"
	openc = "! git_open_commit.sh $1"
	releasenotes = "! set -u; f() { git log  --no-merges --pretty=format:\"- %h %s\" $1; }; f"	
	search = "!f() { q=\"$1\"; shift; git log --pickaxe-regex -S \"$q\" $@ ; }; f"
	slog = "shortlog -n --no-merges"
	find-issue = "! hub issue | fzf"

[gitflow "branch"]
	master = master
	develop = develop
[gitflow "prefix"]
	feature = feature/
	bugfix = bugfix/
	release = release/
	hotfix = hotfix/
	support = support/
	versiontag = v
[core]
	excludesfile = ~/.gitignore
	# hooksPath = ihatehooks
	editor = vim
[rebase]
	autosquash = true
[hub]
	host = github.com
[rerere]
	enabled = true
[pretty]
	# Extended one line.
	xol = "format: %ai %<(20) %Cblue%an %Cgreen%h %Creset %s"
