[user]
	name = Ammar Bandukwala
	email = ammar@ammar.io
	signingkey = EF1A4458
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[mergetool]
	prompt = false
	keepBackup = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[commit]
	gpgsign = true
[credential]
	helper = cache
[http]
	cookiefile = /home/ammar/.gitcookies
[alias]
	change = codereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
